.present,
.absent,
.correct,
.empty,
.edit {
    color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(241, 238, 238); /* Agregar borde de color negro */
    background-color: rgba(12, 9, 9, 0.171); ; /* Fondo transparente */
}

.present {
    background-color: #e5f321;
    border-color: #e5f321; /* Cambiar el color del borde de acuerdo al fondo */
}

.absent {
    background-color: rgb(123, 124, 124);
    border-color: rgb(123, 124, 124); /* Cambiar el color del borde de acuerdo al fondo */
}

.correct {
    background-color: #4caf50;
    border-color: #4caf50; /* Cambiar el color del borde de acuerdo al fondo */
}
