/* cardvisible.module.css */

.card {
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  transition: filter 0.3s ease; /* Animación para suavizar el cambio de desenfoque */
}

.blurred {
  filter: blur(10px); /* Nivel inicial de desenfoque */
}

.clear {
  filter: none; /* Sin desenfoque */
}

.player-info {
  margin: 10px 0;
}

.select-player {
  margin-top: 20px;
}

.select-player select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
