/* cardvisible.module.css */

.card {
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.171);
  transition: filter 0.3s ease; /* Animación para suavizar el cambio de desenfoque */
  display: flex; /* Para usar Flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Para ocupar todo el alto del viewport */
  background: linear-gradient(to bottom, #f0e68c00, #dda0dd00); /* Opcional: para un fondo más visual */
}

.blurred {
  filter: blur(10px); /* Nivel inicial de desenfoque */
}

.clear {
  filter: none; /* Sin desenfoque */
}

.player-info {
  margin: 10px 0;
}

.select-player {
  margin-top: 20px;
}

.select-player select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
