.keyboardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin: -80px auto 0 auto; /* Modificar el margen para moverlo hacia arriba */
  gap: 5px;
}

.key {
  width: 50px;
  height: 70px;
}

.emptyKey {
  width: 25px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterKey,
.deleteKey {
  width: 80px;
  height: 70px;
}

.correct {
  background-color: #4caf50;
  border: #4caf50 solid 2px;
  color: black;
}

.present {
  background-color: #e5f321;
  border: #e5f321 solid 2px;
  color: black;
}

.absent {
  background-color: #aaa;
  border: #aaa solid 2px;
  color: black;
}

.keyboardContainer.inUse {
  background-color: #99989800; /* Cambia el color de fondo cuando el teclado está en uso */
}
