/* styles.module.css */
.navbar {
  background-color: #72717100;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarBrand {
  display: flex;
  align-items: center;
}

.navbarBrand h1 {
  margin-left: -130px; /* Para mover el h1 hacia la izquierda */
}
  
  .navbarMenu {
    
    list-style-type: none; /* Eliminar viñetas de la lista */
    display: flex; /* Alinear elementos horizontalmente */
    margin: 0; /* Eliminar margen externo */
    padding: 0; /* Eliminar espaciado interno */
  }
  
  .navbarMenuMtem {
    margin-right: 15px;
    text-decoration: none; 
    /* Espaciado entre elementos de la lista */
  }
  
  .navbarMenuLink {
    text-decoration: none; 
    color: #fff; /* Color del texto del enlace */
    transition: color 0.3s; /* Transición suave del color del texto */
  }
  
  .navbarMenuLink:hover,
  .navbarMenuLink:visited {
    color: #ccc; /* Cambiar color del texto al pasar el mouse y después de hacer clic */
    text-decoration: none; 
  }
  
  .logo {
    width: 150px; /* Ancho de la imagen del logo */
    height: auto; /* Mantener la proporción de la imagen */
  }
  