/* Estilos base para la barra de navegación */
.navbar {
  background-color: #72717100;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
}

/* Estilo para el logo de WorldMLB con efecto de movimiento */
.logo {
  height: 200px; /* Tamaño del logo */
  width: auto; /* Mantener proporción */
  transition: transform 0.3s ease; /* Transición suave */
}

.logo:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

/* Media query para dispositivos móviles (por ejemplo, máximo 600px de ancho) */
@media (max-width: 600px) {
  .navbar {
    padding: 10px 15px; /* Reducir el padding para dispositivos móviles */
  }

  .logo {
    height: 120px; /* Reducir el tamaño del logo para dispositivos móviles */
    transform: scale(1); /* Restablecer la transformación por defecto */
  }

  .logo:hover {
    transform: scale(1.05); /* Reducir el efecto de zoom para evitar recortes */
  }
}
