/* playerCard.module.css */
.playerCard {
  background: linear-gradient(to bottom right, #fffbe6, #ffe599);
  border: 2px solid #d1b26f; /* Color marrón para sugerir algo más vintage */
  border-radius: 15px; /* Esquinas más redondeadas */
  padding: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  text-align: center;
  max-width: 300px;
}

.playerCard img {
  width: 100%;
  border-radius: 15px; /* Igual que el borde del contenedor */
}

.cardHeader {
  background: linear-gradient(to right, #b87c5d, #964b00); /* Marrones cálidos para un look más vintage */
  border-radius: 15px 15px 15px 15px; /* Mismo radio que el contenedor */
  color: white;
  padding: 15px; /* Espaciado mayor para un look más pulido */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* Sombra para resaltar el texto */
}

.cardDetails {
  text-align: left;
  margin-top: 10px;
}

.matching {
  color: red; /* Color para resaltar */
}

.playerCard p {
  font-size: 14px;
  color: #555;
  padding: 5px 0;
}

  