.mainContainer {
    width: calc(70px * 5); /* Utiliza calc() para calcular el valor */
    margin: 100px auto; /* Establece el margen superior e inferior en 100px y los laterales automáticos */
    text-align: center; /* Centra el contenido dentro del contenedor */
}
