.centerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.397);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: column; /* Cambia la orientación a vertical */
  justify-content: center;
  gap: 10px; /* Agrega espacio entre los botones */
  margin-top: 20px;
}

.button {
  background-color: #002D72;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #D50032;
}
